      </main>
      <footer class="full">
        <div class="full footer_backgorund">
          <div class="center">
            <div class="full">
              <div class="left_footer_div">

                <div class="float_footer_div_in">
                  <ul>
                    <li>
                      <a href="#">Sığorta şirkətləri</a>
                    </li>
                    <li>
                      <a href="#">Haqqımızda</a>
                    </li>
                    <li>
                      <a href="#">Xidmətlər</a>
                    </li>
                    <li>
                      <a href="#">Məhsullar</a>
                    </li>
                  </ul>
                </div>
                <!-- float_footer_div end -->
                <div class="float_footer_div_in">
                  <ul>
                    <li>
                      <a href="#">Sığorta şirkətləri</a>
                    </li>
                    <li>
                      <a href="#">Haqqımızda</a>
                    </li>
                    <li>
                      <a href="#">Xidmətlər</a>
                    </li>
                    <li>
                      <a href="#">Məhsullar</a>
                    </li>
                  </ul>
                </div>
                <!-- float_footer_div end -->
                <div class="float_footer_div_in">
                  <ul>
                    <li>
                      <a href="#">Sığorta şirkətləri</a>
                    </li>
                    <li>
                      <a href="#">Haqqımızda</a>
                    </li>
                    <li>
                      <a href="#">Xidmətlər</a>
                    </li>
                    <li>
                      <a href="#">Məhsullar</a>
                    </li>
                  </ul>
                </div>
                <!-- float_footer_div end -->
              </div>
              <!-- left_footer_div end -->
              <div class="footer_right">
                <div class="full">
                  <ul class="footer_right_ul">
                    <li>
                      <a href="#">
                        <img src="img/fb.png">
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/play.png">
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <img src="img/linkedin.png">
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- full end -->

                <div class="logo_footer">
                  <a href=""><img src="img/foot_logo.png"></a>
                </div>
              </div>
            </div>
          </div>
          <!-- center end -->
        </div>
        <div class="full footer_end">

          <div class="center">
            <div class="end_left_footer">
              <span class="float_end capitalize_end">Copyright 2019</span>
              <a href="#">
                <span class="float_end no_margin">sigortatap.com</span>
              </a>
            </div>
            <div class="end_right_footer">
              <ul class="full">
                <li class="left_arrow">
                  <a href="#">Privacy policy</a>
                </li>
                <li class="left_arrow">
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- center end -->
        </div>
        <!-- footer_backgorund end -->
      </footer>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="libs/jquery/dist/jquery.min.js"><\/script>')</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
      <script src="libs/owl/owl.carousel.min.js"></script>
      <script src="libs/slick/slick.js"></script>
      <script src="libs/stars/star-rating.js"></script>
      <script src="libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>        
      <script src="js/all.js"></script>
      <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
      <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
      </script>
      <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
    </html>
