<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" type="text/css" href="libs/normalize.css/normalize.css">
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/owl.carousel/dist/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main/main.min.css">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->


    <div class="full background_top">


        <!-- login -->

        <div class="back_login_color">
            <div class="right_login_div">
                <div class="close_login2">
                    <button></button>
                </div>
                <div class="full right_login_in">
                    <ul class="profile_right_ul full">
                        <li>
                            <div data-txt="15" class="profile_img alert_img_in">
                                <img src="assets/images/anonymous.jpg">
                            </div>
                            <span class="full name_login">
                                ALPER SARIKÖY
                            </span>
                            <a class="full mail_login" href="mailto:alper@yahoo.com">
                                alper@yahoo.com
                            </a>
                        </li>
                        <li><a class="login_end_a" href="#">Tarixçə</a></li>
                        <li><a class="login_end_a" href="#">Müqavilələri </a></li>
                        <li><a class="login_end_a" href="#">Dostunu dəvət et</a></li>
                        <li><a class="login_end_a" href="#">Müraciət et</a></li>
                        <li><a class="login_end_a" href="#">Nizamlamalar </a></li>
                        <li>
                            <a class="login_out" href="#">Çıxış</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- login end -->

        <div class="center">
            <div class="center_left_top">
                <a href="mailto:info@sigortap.com">
                    <span class="left_center_top">
                        info@sigortap.com
                    </span>
                </a>
                <a href="Tel:+994 55 555 44 22">
                    <span class="left_center_top2">
                        +99 455 555 44 22
                    </span>
                </a>
            </div>
            <div class="center_right_top">
                <ul class="center_top_ul login_alert">
                    <li>
                        <a data-txt="15" class=" alert_head_in alert_a_head" href="#">

                        </a>
                    </li>

                    <li>
                        <a data-txt="15" class="alert_a_head2 alert_head_in" href="#"></a>
                    </li>
                    <li>
                        <a class="name_a_head" href="#">
                            sedat efe
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    </div>

    <!-- login end -->
    <div class="full header_div">
        <div class="center_second">
            <div class="full">


                <div class="mobile_menu_card">

                    <div class="mobile_close">
                        <button>

                        </button>
                    </div>

                    <ul class="header_ul">
                        <li><a href="#">Onlayn sığorta</a></li>
                        <li><a href="#">Faydalı</a></li>
                        <li><a href="#">Əlaqə</a></li>
                    </ul>

                </div>
                <div class="header_image">

                </div>
                <div class="container">
                    <header class="full">
                        <div class="header_image">
                            <a href="#"><img src="img/logo_new.jpg"></a>
                        </div>
                        <div class="header_right">


                            <ul class="full header_right_ul">
                                <li>
                                    <button class="header_button"></button>
                                </li>
                                <li class='lang_li'>
                                    <a href="#">Az</a>
                                </li>
                            </ul>

                            <div class="mobile_menu">
                                <span class="full mobile_in"></span>
                                <span class="full mobile_in"></span>
                                <span class="full mobile_in"></span>
                            </div>

                        </div>
                        <!-- header_right end -->
                        <div class="header_right2">
                            <ul class="header_ul">
                                <li><a href="#">Onlayn sığorta</a></li>
                                <li><a href="#">Faydalı</a></li>
                                <li><a href="#">Əlaqə</a></li>
                            </ul>
                        </div>
                        <!-- header_right2 end -->
                </div>
                </header>
                <!-- header end -->
            </div>
        </div>
    </div>
    <main class="full backgorund_main">