
	<section class="section_slider_index full">
		<div class="full">
			<div class="center_second">
				<div class="back_center_in full">
					<div class="container">
						<div class="full slider_div">
							<div class="owl-carousel owl-theme">
							    <div class="item">
							    	<div class=" one_div_slider">
							    		<div class="slider_left_img">
							    			<img src="img/john.png">
							    		</div>
							    		<div class="slider_right_word">
							    			<span class="full name_slider_span">
							    				John Doe
							    			</span>
							    			<span class="full slider_span_word">
							    				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
							    			</span>
							    			<div class="full fafa_font">
							    			<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
							    			</div>
							    		<!-- full -->
							    		</div>
							    	</div>
							    	
							    	<div class=" one_div_slider none_slider">
							    		<div class="slider_left_img">
							    			<img src="img/john.png">
							    		</div>
							    		<div class="slider_right_word">
							    			<span class="full name_slider_span">
							    				John Doe
							    			</span>
							    			<span class="full slider_span_word">
							    				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
							    			</span>
							    			<div class="full fafa_font">
							    			<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
							    			</div>
							    		<!-- full -->
							    		</div>
							    	</div>


							    	<div class=" one_div_slider none_slider">
							    		<div class="slider_left_img">
							    			<img src="img/john.png">
							    		</div>
							    		<div class="slider_right_word">
							    			<span class="full name_slider_span">
							    				John Doe
							    			</span>
							    			<span class="full slider_span_word">
							    				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
							    			</span>

							    			<div class="full fafa_font">
							    			<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
							    			</div>

							    		</div>
							    	</div>
							    </div>
							    <!-- item end -->

							    <div class="item">
							    	<div class=" one_div_slider">
							    		<div class="slider_left_img">
							    			<img src="img/john.png">
							    		</div>
							    		<div class="slider_right_word">
							    			<span class="full name_slider_span">
							    				John Doe
							    			</span>
							    			<span class="full slider_span_word">
							    				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
							    			</span>

							    			<div class="full fafa_font">
							    			<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
							    			</div>

							    		</div>
							    	</div>
							    	
							    		<div class=" one_div_slider none_slider">
							    		<div class="slider_left_img">
							    			<img src="img/john.png">
							    		</div>
							    		<div class="slider_right_word">
							    			<span class="full name_slider_span">
							    				John Doe
							    			</span>
							    			<span class="full slider_span_word">
							    				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
							    			</span>
							    			<div class="full fafa_font">
							    			<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
							    			</div>
							    		<!-- full -->
							    		</div>
							    	</div>

							    	<div class=" one_div_slider none_slider">
							    		<div class="slider_left_img">
							    			<img src="img/john.png">
							    		</div>
							    		<div class="slider_right_word">
							    			<span class="full name_slider_span">
							    				John Doe
							    			</span>
							    			<span class="full slider_span_word">
							    				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
							    			</span>

							    			<div class="full fafa_font">
							    			<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star checked"></span>
											<span class="fa fa-star"></span>
							    			</div>

							    		</div>
							    	</div>

							    </div>
							    <!-- item end -->
							</div>
						</div>
				<!-- slider_div end -->
					</div>
				<!-- center end -->
				</div>
			</div>
			<!-- center end -->
		</div>
		<!-- full end -->

	</section>
	<!-- section end -->