<section class="section_main1 full">
    <div class="full section_main_in">
        <div class="center_second">
            <div class="background_img_main">
                <img src="img/back1.png" style="">
                <img src="img/back2.jpg" style="display: none;">
                <img src="img/back3.jpg" style="display: none;">
                <img src="img/back4.jpg" style="display: none;">

                <div class="center">
                    <div class="full pad_div">
                        <div class="full main_btn_top ">

                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">

                                    <button class="main_btn1 active_color">
                                        <img src="img/icon1.png">
                                    </button>
                                    <span class="full">
                                        Avto
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                    <button class="main_btn1">
                                        <img src="img/icon2.png">
                                    </button>
                                    <span class="full">
                                        Əmlak
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                                    <button class="main_btn1">
                                        <img src="img/icon3.png">
                                    </button>
                                    <span class="full">
                                        Səfər
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">
                                   <button class="main_btn1">
                                    <img src="img/icon4.png">
                                </button>
                                <span class="full">
                                    Tibbi
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                        <!-- start -->
                        <ul class="nav nav-pills mb-3 newTABS" id="pills-tab-avto" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab-avto" data-toggle="pill" href="#pills-home-avto" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab-avto" data-toggle="pill" href="#pills-profile-avto" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent2">
                      <div class="tab-pane fade show active" id="pills-home-avto" role="tabpanel" aria-labelledby="pills-home-tab">
                        <form class="all_inputs_section1_ul">
                          <div class="form-row">
                            <div class="col-lg-3 mt-5">
                              <select id="carbrand__select" name="carbrand_id">
                                <option>Marka</option>
                                <option value="1">Fiat</option>
                                <option value="2">Ford</option>
                                <option value="3">BMW</option>
                            </select>
                        </div>
                        <div class="col-lg-3 mt-5">
                          <select id="carmodel__select" name="carmdl_id">
                            <option>Model</option>
                        </select>
                    </div>
                    <div class="col-lg-3 mt-5">
                      <input type="number" name="auto_market_price" placeholder="Bazar dəyəri">
                  </div>
                  <div class="col-lg-3 mt-5">
                      <input type="number" name="year_of_production" placeholder="Ilı">
                  </div>
                  <div class="col-lg-3 mt-5">
                     <select id="parking_condition" name="parking_condition">
                        <option>Saxlama Yeri</option>
                        <option value="kk_parking_condition_garage">Garage or closed parking</option>
                        <option value="kk_parking_condition_open">Open Parking</option>
                        <option value="kk_parking_condition_street">Street</option>
                    </select>
                </div>
                <div class="col-lg-3 mt-5">
                   <input type="number" name="age" placeholder="Sürücünün Yaşı">
               </div>
               <div class="col-lg-3 mt-5">
                   <input type="number" name="driving_experience" placeholder="Driving experience (years)">
               </div>
               <div class="col-lg-3 mt-5">
                   <select id="offical_service_repair" name="offical_service_repair">
                    <option>Offical Service Repair</option>
                    <option value="kk_offical_service_repair_yes">Yes</option>
                    <option value="kk_offical_service_repair_no">No</option>
                </select>
            </div>
        </div>
    </form>
</div>
<!-- end -->
<!-- <=----------------=> -->
<div class="tab-pane fade" id="pills-profile-avto" role="tabpanel" aria-labelledby="pills-profile-tab">
 <form class="all_inputs_section1_ul">
  <div class="form-row">
    <div class="col-lg-3 mt-5">
      <select id="carbrand__select" name="carbrand_id">
        <option>Marka</option>
        <option value="1">Fiat</option>
        <option value="2">Ford</option>
        <option value="3">BMW</option>
    </select>
</div>
<div class="col-lg-3 mt-5">
  <select id="carmodel__select" name="carmdl_id">
    <option>Model</option>
</select>
</div>
<div class="col-lg-3 mt-5">
  <input type="number" name="auto_market_price" placeholder="Bazar dəyəri">
</div>
<div class="col-lg-3 mt-5">
  <input type="number" name="year_of_production" placeholder="Ilı">
</div>
<div class="col-lg-3 mt-5">
 <select id="parking_condition" name="parking_condition">
    <option>Saxlama Yeri</option>
    <option value="kk_parking_condition_garage">Garage or closed parking</option>
    <option value="kk_parking_condition_open">Open Parking</option>
    <option value="kk_parking_condition_street">Street</option>
</select>
</div>
<div class="col-lg-3 mt-5">
   <input type="number" name="age" placeholder="Sürücünün Yaşı">
</div>
<div class="col-lg-3 mt-5">
   <input type="number" name="driving_experience" placeholder="Driving experience (years)">
</div>
<div class="col-lg-3 mt-5">
   <select id="offical_service_repair" name="offical_service_repair">
    <option>Offical Service Repair</option>
    <option value="kk_offical_service_repair_yes">Yes</option>
    <option value="kk_offical_service_repair_no">No</option>
</select>
</div>
</div>
</form>
</div>
</div>
<!-- end -->

</div>
<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
  Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim do mollit labore ipsum laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt dolore aliquip aute tempor irure magna enim minim reprehenderit. Ullamco consectetur culpa veniam sint cillum aliqua incididunt velit ullamco sunt ullamco quis quis commodo voluptate. Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur mollit voluptate voluptate consequat non.
</div>
<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
 <form class="all_inputs_section1_ul">
  <div class="form-row">
    <div class="col-lg-3 mt-5">
        <input id="datepickerStart" type="text" name="" placeholder="Seyahet baslanqici">
    </div>
    <div class="col-lg-3 mt-5">
        <input id="datepickerEnd" type="text" name="" placeholder="Seyahet bitis">
    </div>
    <div class="col-lg-3 mt-5">
      <input id="datepickerBirthday" type="text" name="" placeholder="birthday">
  </div>
  <div class="col-lg-3 mt-5">
      <input id="datepickerBirthday" type="text" name="" placeholder="Ilı">
  </div>
  <div class="col-lg-3 mt-5">
     <select id="parking_condition" name="parking_condition">
        <option>Saxlama Yeri</option>
        <option value="kk_parking_condition_garage">Garage or closed parking</option>
        <option value="kk_parking_condition_open">Open Parking</option>
        <option value="kk_parking_condition_street">Street</option>
    </select>
</div>
<div class="col-lg-3 mt-5">
   <input type="number" name="age" placeholder="Sürücünün Yaşı">
</div>
<div class="col-lg-3 mt-5">
   <input type="number" name="driving_experience" placeholder="Driving experience (years)">
</div>
<div class="col-lg-3 mt-5">
   <select id="offical_service_repair" name="offical_service_repair">
    <option>Offical Service Repair</option>
    <option value="kk_offical_service_repair_yes">Yes</option>
    <option value="kk_offical_service_repair_no">No</option>
</select>
</div>
</div>
</form>
</div>
</div>
</div>
<!-- end -->
</div>
</div>
<!-- center end -->

</div>
<!-- background_img_main end -->
</div>
<!-- center_second end -->

</section>